body {
  line-height: 1.4;
}
#wrapper {
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
}

.dummy-title {
  margin-top: 20px;
  padding: 10px 5px;
  font-size: 18px;
}

.boxExpand + .dummy-lead {
  margin-top: 30px;
}

.dummy-contents {
  height: 800px;
  padding: 20px 10px;
  background: #efe;
}

.boxExpand {
  margin-top: 20px;
}

.boxExpand .boxExpand-triggerBtn {
  display: block;
  padding: 10px;
  background: #eac;
  text-decoration: none;
  color: #222;
}

.boxExpand .boxExpand-triggerBtn:hover {
  opacity: 0.7;
}

.boxExpand .boxExpand-contents {
  padding: 10px;
  background: #abd;
}

.boxExpand .boxExpand-background {
  padding: 10px;
}

.boxExpand .dummy-text-long {
  font-size: 12px;
}
