html {
  font-size: 62.5%;
}
#wrapper {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 1.4rem;
  line-height: 1.4;
}
h1 {
  font-size: 2.6rem;
  color: #e7a;
}
.dummy-title {
  font-size: 2rem;
  text-align: center;
}
#wrapper > section {
  margin-top: 50px;
}
.dummy-item {
  margin-top: 40px;
}
.dummy-title + .dummy-item {
  margin-top: 10px;
}
.dummy-contentTitle {
  font-size: 1.6rem;
}
.dummy-lead {
  margin-top: 20px;
}
.boxExpand + .dummy-lead,
.dummy-code + .dummy-lead {
  margin-top: 30px;
}

.dummy-lead .dummy-text em {
  font-style: normal;
  font-weight: bold;
}

.dummy-code {
  margin-top: 10px;
  padding: 10px;
  background: #555;
  color: #fff;
  line-height: 1.8;
  white-space: nowrap;
  overflow-x: auto;
}
.dummy-code code {
  display: inline-block;
  vertical-align: middle;
}
.dummy-code .code-line {
  display: block;
}

.boxExpand {
  margin-top: 20px;
}

.boxExpand .boxExpand-triggerBtn {
  display: block;
  padding: 10px;
  background: #eac;
  text-decoration: none;
  color: #222;
}

.boxExpand .boxExpand-triggerBtn:hover {
  background: #e7a;
}
.boxExpand .boxExpand-cloak {
  border: 1px solid #eac;
}
.boxExpand .boxExpand-contents {
  padding: 10px;
  background: #fff;
}

.boxExpand .boxExpand-background {
  padding: 10px;
}

.boxExpand .dummy-text-long {
  line-height: 1.6;
  font-size: 1.2rem;
}

.dummy-table {
  margin-top: 30px;
}
.dummy-table th,
.dummy-table td {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
.dummy-table th {
  text-align: left;
  border-bottom-width: 2px;
  border-color: #333;
}

.dummy-button a {
  display: block;
  max-width: 200px;
  margin: 10px auto 0;
  background: #eac;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
}
.dummy-button a:hover {
  background: #e7a;
}
